html{
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mosquito-random {
    width: 50px;
    height: 50px;
}

/* Mudança de tamanho */

.mosquito-size1 {
    width: 80px;
    height: 80px;
}

.mosquito-size2 {
    width: 50px;
    height: 50px;
}

.mosquito-size3 {
    width: 30px;
    height: 30px;
}

/* Mudança de lados */

.ladoA{
    transform: scaleX(1)
}

.ladoB{
    transform: scaleX(-1)
}

/* Mudanças vísuais */

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 3px;
    bottom: 3px;
    border-top: solid 1px #fff;
    border-radius: 10px;
    background-color: #fff;
    opacity: 0.7;
}

.vida{
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

#button-game {
    display: inline;
}
